<% title 'Nástěnka' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Nástěnka
  </div>

  <section class="sixteen columns">
  </section>
</section>
