<% title 'Přihlásit se' %>

<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Přihlásit se
  </div>

  <section class="sixteen columns">
    <%= render 'form' %>
  </section>
</section>
