<footer class="clearfix">
  <div class="container">
    <div class="sixteen columns footer">
    <div class="copyright">Copyright © 2013 DECARO RMG s.r.o. All rights reserved</div>
    </div>
  </div><!--/ .container-->
</footer><!--/ #bottom-footer-->
