<footer class="clearfix">
  <div class="container">
    <div class="copyright">Copyright © 2012. <a target="_blank" href="../webtemplatemasters.com/default.htm">ThemeMakers</a>. All rights reserved</div>
    <div class="developed">Developed by <a target="_blank" href="../webtemplatemasters.com/default.htm">ThemeMakers</a></div>
  </div><!--/ .container-->
</footer><!--/ #bottom-footer-->
