<footer class="clearfix">
  <div class="container">
    <div class="sixteen columns footer">
    <div class="copyright">© 2013 DECARO RMG s.r.o. Všechna práva vyhrazena</div>
    </div>
  </div><!--/ .container-->
</footer><!--/ #bottom-footer-->
