<header>
  <div class="container clearfix">
    <div class="eight columns">
      <div id="logo"><h1><%= link_to(image_tag('layout/logo.png', alt: 'Life Akademie'), '/') %></h1></div><!--/ #logo-->
    </div><!--/ .eight.columns-->
    <div class="clear"></div>

    <%= render 'layouts/shared/navigation' %>
  </div><!--/ .container-->
</header><!--/ #header-->
