<nav id="navigation" class="navigation clearfix">
  <div class="menu-primary-menu-container">
    <ul class="menu">
      <li class="current-menu-item"><a href="#">Domů</a></li>
      <li><a href="#">Kurzy</a>
        <ul class="sub-menu">
          <li><a href="#">Typography</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">FAQ Toggle</a></li>
          <li><a href="#">Notifications</a></li>
        </ul>
      </li>
      <li><a href="#">Termíny</a></li>
      <li><a href="#">O nás</a></li>
      <li><a href="#">Kontakty</a></li>
    </ul>
  </div>
</nav><!--/ #navigation-->
