<nav id="navigation" class="navigation clearfix">
  <div class="menu-primary-menu-container">
    <ul class="menu">
      <li class="current-menu-item"><a href="/">Domů</a></li>
      <li><a href="/kurzy">Kurzy</a>
        <ul class="sub-menu">
          <li><a href="/kurzy/metody-vyuky">Metody výuky</a></li>
          <li><a href="/kurzy/ucebni-plan">Učební plán</a></li>
          <li><a href="/kurzy/profil-absolventa">Profil absolventa</a></li>
          <li><a href="/kurzy/lektori">Lektoři</a></li>
          <li><a href="/kurzy/osvedceni">Osvědčení</a></li>
          <li><a href="/kurzy/smluvni-podminky">Smluvní podmínky</a></li>
        </ul>
      </li>
      <li><a href="/terminy">Termíny</a></li>
      <li><a href="/o-nas">O nás</a></li>
      <li><a href="/partneri">Partneři</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </div>
</nav><!--/ #navigation-->
