<html>
  <head>Registrace na lifeakademie.cz</head>
  <body>
    <p>
      Dobrý den,<br>
      děkujeme za registraci na webu <a href="">lifeakademie.cz</a>.
    </p>

    <p>Pro dokončení registrace přejděte na odkaz <%= link_to @url, @url %>.</p>

    <p>
      Děkujeme!
    </p>
  </body>
</html>
