<html>
  <head>Registrace na lifeakademie.cz</head>
  <body>
    <h1>Registrace na lifeakademie.cz</h1>
    <p>Děkujeme za registraci na webu lifeakademie.cz.</p>
    <p>Pro dokončení registrace přejděte na odkaz <%= link_to @url, @url %></p>
  </body>
</html>
