<!DOCTYPE html>
<html>
  <head>
  <title>Potvrzení objednávky č. <%= @order.variable_symbol %> na lifeakademie.cz</title>
  </head>
  <body>
    <p>
      Dobrý den,<br>
      Potvrzujeme přijetí Vaší objednávky kurzu na webu <a href="">lifeakademie.cz</a>.
    </p>

    <p>
      Objednaný kurz: <b><%= @order.course.name_with_date %></b><br>
      Objednávku prosím zaplaťte na účet <b>123456789/0000</b> s variabilní symbolem <b><%= @order.variable_symbol %></b> částku <b><%= number_to_currency @order.course.price %></b>.
    </p>

    <p>
      Děkujeme!
    </p>

  </body>
</html>
