<% title 'Registrace do kurzu' %>

<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Registrace do kurzu
  </div>

  <section class="sixteen columns">
    <%= render 'form' %>

    <div class="row">
      <div class="four columns">&nbsp;</div>
      <div class="eleven columns registration-terms">
        <p>Odesláním on-line formuláře souhlasíte s tím, aby ve smyslu § 4 písm. e) zákona č. 101/2000 Sb., byly údaje poskytnuté ve formuláři dále zpracovány a použity za účelem k uspokojení vašeho požadavku. Výše uvedené údaje nebudou poskytnuty třetím osobám a budou zpracovány jen provozovatelem tohoto webu, společností DECARO RMG s.r.o.</p>
        <p>Uživatel webových stránek www.lifeakademie.cz, který poskytuje provozovateli stránek své osobní údaje, uděluje tímto Provozovateli svůj výslovný souhlas v souladu s ust. § 5 zákona č. 101/2000 Sb., o ochraně osobních údajů v platném znění, se zpracováním Uživatelem poskytnutých osobních údajů na dobu neurčitou. Souhlas se zpracováním osobních údajů uděluje Uživatel Provozovateli na dobu neurčitou a tento souhlas může být Uživatelem kdykoliv odvolán, a to formou doporučeného dopisu adresovaného do sídla Provozovatele.</p>
      </div>
    </div>
  </section>
</section>
