<% title 'Reset hesla' %>

<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Reset hesla
  </div>

  <section class="sixteen columns">
    <%= form_tag password_reset_path do %>
      <div class="row">
        <div class="four columns r label">
          <%= label_tag :email, 'E-mail:' %>
        </div>
        <div class="nine columns">
          <%= text_field_tag :email, params[:email], placeholder: 'E-mail' %>
        </div>
      </div>
      <div class="row">
        <div class="four columns">&nbsp;</div>
        <div class="nine columns">
          <button class="button lightgreen small" type="submit">Přihlásit</button>
        </div>
      </div>
    <% end %>
  </section>
</section>
