<% title 'O nás' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    O nás
  </div>

  <section class="sixteen columns">

    <h3>Proč absolvovat právě u nás</h3>

    <ul class="list">
      <li>Náš akreditovaný kurz doporučují a účastního se ho velké osobnosti českého sportu jako je <strong>Robert Změlík</strong>, <strong>Šárka Kašpárková</strong>, <strong>Roman Šebrle</strong> a další</li>
      <li>Všichni přednášející jsou špičkoví odborníci z oboru</li>
      <li>Více jak 125 hodin kvalitních přednášek a praktických lekcí</li>
      <li>Vaše nová zdravá cesta životního stylu. Naučíte se jak zdravě vařit nejen pro sebe, ale i rodinu, vaše děti</li>
      <li>Získáte možnost pracovat jako výživový poradce</li>
      <li>Naučíte se rozumět svým klientům</li>
      <li>Získáte znalosti o správném stravování</li>
      <li>Budete umět sestavit stravovací plány na míru včetně jídelníčku na míru všem klientům</li>
      <li>S jistotou budete ovládat suplementační programy</li>
      <li>Každý student musí při přípravě na závěrečnou zkoušku v rámci samostudia připravit a spočítat tři individuální stravovací plány</li>
    </ul>

    <div class="border-divider"></div>

    <h3>Akreditace MŠMT</h3>
    <p><%= image_tag 'content/akreditace-1.jpg', alt: 'Akreditace MŠMT 1. stránka' %></p>
    <p><%= image_tag 'content/akreditace-2.jpg', alt: 'Akreditace MŠMT 2. stránka' %></p>

  </section>
</section>
