<% title 'Kontakt' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Kontakt
  </div>

  <section class="sixteen columns">
    <h2>Školící středisko</h2>
    <div class="one-third column">
      <h3>Adresa</h3>
      <p class="vcard">
        <span>Olšanská 2643/1a</span>
        <span>Praha 3 Žižkov</span>
        <span>Učebna se nachází v 5.patře</span>
      </p>
    </div>

    <div class="one-third column">
      <h3>Doprava</h3>
      <ul class="list">
        <li>Metrem do stanice <b>Želivského</b> nebo <b>Flora</b></li>
        <li>Tramvajovou linkou <b>9</b> nebo <b>26</b> do zastávky <b>Olšanská</b></li>
        <li>Autobusem číslo <b>136</b> nebo <b>175</b> do zastávky <b>Olšanské náměstí</b></li>
        <li>V blízkosti <b>Masarykova nádraží</b> a autobusového nadráží <b>Florenc</b></li>
        <li>Parkování před budovou zdarma</li>
      </ul>
    </div>

    <div class="one-third column">
      <h3>Kontaktní formulář</h3>
      <form id="contactform" class="contact-form" name="contactform" method="post">
        <input type="hidden" value="contacts" name="contact_form_name">
        <p class="input-block">
          <label><span class="required">*</span>Jméno:</label>
          <input type="text" value="" name="your_name">
        </p>
        <p class="input-block">
          <label><span class="required">*</span>E-mail:</label>
          <input type="text" value="" name="your_email">
        </p>
        <p class="input-block">
          <label><span class="required">*</span>Zpráva:</label>
          <textarea name="message"></textarea>
        </p>
        <p class="input-block">
          <iframe width="72" scrolling="no" height="27" frameborder="0" name="capcha_image_frame" class="capcha_image_frame" style="vertical-align: middle;" marginwidth="0" marginheight="0" src="http://blessing.webtemplatemasters.com/?update_capcha=1"></iframe>
          <input type="text" class="verify" name="verify" size="6" value="" style="width: 60px; margin: 0 0 0 8px; vertical-align: middle;">
        </p><!--/ .row-->
        <input type="submit" value="Odeslat" class="button default small">
      </form>
    </div>

    <div class="border-divider"></div>

    <h3>Mapa</h3>

    <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=cs&amp;geocode=&amp;q=Ol%C5%A1ansk%C3%A1+2643%2F1a,Praha+3&amp;aq=&amp;sll=50.080617,14.242838&amp;sspn=0.097489,0.15295&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Ol%C5%A1ansk%C3%A1+2643%2F1A,+130+00+Praha,+Czech+Republic&amp;ll=50.084339,14.463555&amp;spn=0.002754,0.010289&amp;z=17&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Ol%C5%A1ansk%C3%A1+2643%2F1a,Praha+3&amp;aq=&amp;sll=50.080617,14.242838&amp;sspn=0.097489,0.15295&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Ol%C5%A1ansk%C3%A1+2643%2F1A,+130+00+Praha,+Czech+Republic&amp;ll=50.084339,14.463555&amp;spn=0.002754,0.010289&amp;z=17&amp;iwloc=A" style="color:#0000FF;text-align:left">Na mapě</a></small>

    <div class="border-divider"></div>

    <h3>Fotky</h3>

    <div class="one-third column"><%= image_tag 'content/contact/budova.jpg', alt: 'Budova'%></div>
    <div class="one-third column"><%= image_tag 'content/contact/skolici_mistnost_zpredu.jpg', alt: 'Školící místnost z předu'%></div>
    <div class="one-third column"><%= image_tag 'content/contact/skolici_mistnost.jpg', alt: 'Školící místnost'%></div>

  </section>
</section>
