<% title 'Kurzy' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Kurzy
  </div>
  <section id="content" class="sixteen columns">
  </section>
</section>
