<% title 'Kurzy' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Kurzy
  </div>
  <section id="content" class="sixteen columns">
    <ul class="list">
      <li><a href="/kurzy/metody-vyuky">Metody výuky</a></li>
      <li><a href="/kurzy/ucebni-plan">Učební plán</a></li>
      <li><a href="/kurzy/profil-absolventa">Profil absolventa</a></li>
      <li><a href="/kurzy/lektori">Lektoři</a></li>
      <li><a href="/kurzy/osvedceni">Osvědčení</a></li>
      <li><a href="/kurzy/smluvni-podminky">Smluvní podmínky</a></li>
    </ul>
  </section>
</section>
