<% title 'Termíny' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Termíny
  </div>

  <section class="sixteen columns">
    <h2><%= yield(:title) %></h2>

    <p><b>POZOR Startujeme!</b></p>

    <p>Praha</p>

    <ul class="list">
      <li>4. a 5. května - 1. víkend</li>
      <li>11. a 12. května - 2.víkend</li>
      <li>18. a 19. května - 3. víkend</li>
      <li>25. a 26. květen - 4. víkend</li>
      <li>1. a 2. června - 5. víkend</li>
      <li>15. a 16. června - 6. víkend (Včetně zkoušek)</li>
    </ul>
  </section>
</section>
