<section class="main container front no_sidebar clearfix">
  <section class="container">
    <!-- - - - - - - - - - - - Entry - - - - - - - - - - - - - - -->
    <section class="holder clearfix">
      <div class="one-third column">
        <h5>Kdo jsme?</h5>
        <p>Naše-Vaše Life Akademie zdraví. Nejen pro instruktory, naše reprezentanty, VIP partnery, zákazníky, spotřebitele, ale i laickou veřejnost</p>
        <p><a href="our-mission/default.htm" class="button small default">Více</a></p>
      </div>
      <div class="one-third column">
        <h5>Co děláme?</h5>
        <p>Ojedinělý, speciální vzdělávací program - kurz "Poradce pro výživu" - akreditovaný Ministerstvem školství, mládeže a tělovýchovy ČR</p>
        <p><a href="ceremonies/default.htm" class="button small default">Více</a></p>
      </div>
      <div class="one-third column">
        <h5>Proč s námi?</h5>
        <p>Úspěšní absolventi rekvalifikačního kurzu získávají osvědčení, na jehož základě lze okamžitě žádat o živnostenský list a vykonávat profesy výživového poradce</p>
        <p><a href="ministries/default.htm" class="button small default">Více</a></p>
      </div>
    </section>

    <%= yield %>

    <div class="one-third column">
      <h3>Aktuální informace</h3>
      <div>
        <ul>
          <li>
            <h6 class="title"><a href="default-news-post/default.htm">Default News Post</a></h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis aliquet augue, eu varius purus sollicitudin eget. Donec tellus nunc...
          </li>

          <li>
            <h6 class="title"><a href="lorem-ipsum-dolor-sit-amet/default.htm">Lorem Ipsum Dolor Sit Amet</a></h6>
            Mollis malesuada primis in faucibus luctus ultrces posuere cubilia nis velit porttitor euismod pharetra interetiam laoreet gitis placerat ma...
            </li>
          </ul>
        </div><!--/ .alternate-->
      </div>
      <div class="one-third column">
        <h3>Blížící se kurzy</h3>
        <ul>
          <li>
            <div class="entry-meta">
              <span class="date">16</span>
              <span class="month">apr</span>
            </div><!--/ .entry-meta-->
            <h6><a href="event/platea-leo-sollicitudin/default.htm">Platea leo sollicitudin</a></h6>
            <span class="place">Labore nemo quis quibusdam</span>
            <span class="time">03:00 pm - 05:15 pm</span>
          </li>
          <li>
            <div class="entry-meta">
              <span class="date">19</span>
              <span class="month">apr</span>
            </div><!--/ .entry-meta-->
            <h6><a href="event/quas-eveniet-augue/default.htm">Quas eveniet augue?</a></h6>
            <span class="place">Labore nemo quis quibusdam</span>
            <span class="time">09:00 am - 01:15 pm</span>
          </li>
          <li>
            <div class="entry-meta">
              <span class="date">19</span>
              <span class="month">apr</span>
            </div><!--/ .entry-meta-->
            <h6><a href="event/platea-leo-sollicitudin/default.htm">Platea leo sollicitudin</a></h6>
            <span class="place">Labore nemo quis quibusdam</span>
            <span class="time">03:00 pm - 05:15 pm</span>
          </li>
        </ul>
      </div>
      <div class="one-third column">
        <h3>Prostory</h3>
        <p>
          Olšanská 2643/1a, Praha 3 - Žižkov<br>
          Metro: Želivského, Flora<br>
          Tramvajová zastávka přímo u budovy<br>
          Autobus 3 minuty od budovy<br>
          Masarykovo nádraží 1km od budovy
        </p>
      </div>
  </section><!--/ #content-->
</section><!--/ .main -->
