<section class="main container front no_sidebar clearfix">
  <section class="container">
    <!-- - - - - - - - - - - - Entry - - - - - - - - - - - - - - -->
    <section class="holder clearfix">
      <div class="one-third column">
        <h5>Kdo jsme?</h5>
        <p>Naše-Vaše Life Akademie zdraví. Nejen pro instruktory, naše reprezentanty, VIP partnery, zákazníky, spotřebitele, ale i laickou veřejnost</p>
        <p><a href="/o-nas" class="button small lightgreen">Více</a></p>
      </div>
      <div class="one-third column">
        <h5>Co děláme?</h5>
        <p>Ojedinělý, speciální vzdělávací program - kurz "Poradce pro výživu" - akreditovaný Ministerstvem školství, mládeže a tělovýchovy ČR</p>
        <p><a href="/kurzy" class="button small lightgreen">Více</a></p>
      </div>
      <div class="one-third column">
        <h5>Proč s námi?</h5>
        <p>Úspěšní absolventi rekvalifikačního kurzu získávají osvědčení, na jehož základě lze okamžitě žádat o živnostenský list a vykonávat profesy výživového poradce</p>
        <p><a href="/kurzy/profil-absolventa" class="button small lightgreen">Více</a></p>
      </div>
    </section>

    <div class="sixteen columns main-page-container">
      <h3>O nás</h3>
      <p>Po dlouholeté praxi a přednášek nejen ve výživě, výživových plánech, ale i sportu se nás klienti, studenti našich jednorázových tématických seminářů ptali, kdy bude "něco" konkrétního, licencovaného.</p>
      <p>A je to tady!</p>
      <ul class="list">
        <li>Výživové kurzy s akreditací MŠMT "Poradce pro výživu"</li>
        <li>Kompletní program zdravého životního stylu</li>
        <li>Výživa, sport, regenerace</li>
        <li>Váš vzdělávací program pod vedením odborného lektorského týmu s dlouholetou praxí a přednáškovou činností.</li>
      </ul>
    </div>

    <%= yield %>

    <div class="one-third column">
      <h3>Aktuální informace</h3>
      <div>
        <p>Nejsou žádné aktuální informace</p>
      </div>
      </div>
      <div class="one-third column">
        <h3>Blížící se kurzy</h3>
        <ul>
          <% @courses.each do |course| %>
          <li>
            <div class="entry-meta">
              <span class="date"><%= I18n.localize course.start_date %></span>
            </div>
            <h6><%= link_to course.name, course_path(course) %></h6>
          </li>
          <% end %>
        </ul>
        <% if @courses.empty? %>
          <p>Nejsou žádné blížící se kurzy</p>
        <% end %>
      </div>
      <div class="one-third column">
        <h3>Prostory</h3>
        <p>
          Olšanská 2643/1a, Praha 3 - Žižkov<br>
          Metro: Želivského, Flora<br>
          Tramvajová zastávka přímo u budovy<br>
          Autobus 3 minuty od budovy<br>
          Masarykovo nádraží 1km od budovy
        </p>
      </div>
  </section><!--/ #content -->
</section><!--/ .main -->
