<% title 'Osvědčení' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Osvědčení
  </div>

  <section class="sixteen columns">
    <h2><%= yield(:title) %></h2>

    <div class="sixteen columns">
    <%= image_tag 'content/certificate.jpg', alt: 'Osvědčení' %>
    </div>
  </section>
</section>
