<% title 'Osvědčení' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Osvědčení
  </div>

  <section class="sixteen columns">

    <h3>Informace</h3>

    <p>Osvědčení má neomezenou platnost a zároveň lze plnohodnotně uplatnit i v Slovenské republice.Na základě Osvědčení může absolvent žádat o Živnostenský list a vykonávat tak činnost nutričního terapeuta,poradce pro výživu atd.</p>

    <p>Osvědčení o rekvalifikaci se vydává podle Vyhlášky Ministerstva školství, mládeže a tělovýchovy č. 176/2009 Sb. a zákona č.435/2004 Sb.</p>

    <p>Osvědčení dostává každý absolvent akreditovaného kurzu,který úspěšně zvládne závěrečné zkoušky jak písemnou,tak ústní formou v návaznosti na minimální 80% účast v rozsahu učebního plánu každého daného kurzu.</p>

    <h3>Vzorové osvědčení</h3>

    <p><%= image_tag 'content/certificate.jpg', alt: 'Osvědčení' %></p>
  </section>
</section>
