<% title 'Učební plán' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Učební plán
  </div>

  <section id="content" class="sixteen columns">
    <% if false %>
    <table class="custom-table">
      <thead>
        <tr>
          <th>Název Předmětu</th>
          <th>Počet hodin teoretické výuky<br> (vyučovací hodina = 45 minut)</th>
          <th>Počet hodin praktické výuky<br> (vyučovací hodina = 60 minut)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Poučení o bezpečnosti a ochraně zdraví při práci</td>
          <td>1</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Technologie výživy a skladování potravin</td>
          <td>8</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Alternativní výživové směry</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Makroživiny a Mikroživiny</td>
          <td>12</td>
          <td>6</td>
        </tr>
        <tr>
          <td>Základy a zásady zdravé výživy</td>
          <td>8</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Antropometrie a tělesná typologie</td>
          <td>6</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Potravinové doplňky a suplementace</td>
          <td>6</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Sestavování jídelníčků a diagnostika</td>
          <td>8</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Detoxikace organismu a nutriční prevence</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Psychologie a pedagogika</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Hygiena výživy potravin</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Acidobazická nerovnováha organismu</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Naturopatie a Holistická výživa</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Somatologie</td>
          <td>8</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Fyziologie</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Základy podnikání a provoz výživové poradny</td>
          <td>2</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
    <% end %>

    <p>Můžete se těšit na pestrý učební rozsah a to:</p>

    <div class="box-toggle">
      <h3 class="trigger">Makroživiny</h3>
      <div class="toggle-container">
        <p>Sacharidy, Bílkoviny, Lipidy - jejich dělení, zdroje, důsledky, procesy trávení</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Mikroživiny</h3>
      <div class="toggle-container">
        <p>Vitamíny - rozpustné ve vodě i v tucích, minerální látky a stopové prvky</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Somatologie a fyziiologie trávení metabolismu</h3>
      <div class="toggle-container">
        <p>Somatologie je nauka o struktuře a funkci lidského těla, vychází z poznatků základních vědeckých odvětví zkoumajících lidské tělo, shrnuje anatomii, biologii, biochemii, fyziologii a další.</p>
        <p>Naučíte se, jak funguje základní činnost buněk, tkání i orgánů v organismu jako celku, včetně fyziologických pochodů, které probíhají ve zdravém organismu na různých úrovních.</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Alternativní výživové směry</h3>
      <div class="toggle-container">
        <p>Vhodné a nevhodné alternace, makrobiotika, vegáni, vegany</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Antropometrie a tělesná typologie</h3>
      <div class="toggle-container">
        <p>Somatotypy a jejich dělení i přehled</p>
        <p>Měření vybraných tělesných znaků i kompletní přehled</p>
        <p>Diagnostika a interpretace</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Jídelníčky</h3>
      <div class="toggle-container">
        <p>Sestavování i vypracování stravovacích plánů pro sebe, svojí rodinu, děti</p>
        <p>Cíleně na míru a další praxe</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Potravinové doplňky</h3>
      <div class="toggle-container">
        <p>Suplementační pyramida, volba, kvalita, možnosti</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Detoxikace organismu a jeho odkyselení</h3>
      <div class="toggle-container"></div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Acidobazická rovnováha organismu</h3>
      <div class="toggle-container">
        <p>Přehled a jak docílit trvalých výsledků</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Psychologie a pedagogika</h3>
      <div class="toggle-container">
        <p>Psychologie osobnosti, autorita v edukačních souvislostech, pedagogika a úspěšná spolupráce s klienty</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Hygiena výživy</h3>
      <div class="toggle-container">
        <p>Aditiva, kontaminace</h3>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Toxikologie</h3>
      <div class="toggle-container">
        <p>Cizorodé látky, potravinové alergie a intolerance</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Technologie výživy a jak skladovat potraviny</h3>
      <div class="toggle-container"></div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Naturopatie a holistická výživa a její diagnostiky</h3>
      <div class="toggle-container">
        <p>Zdravý životní styl a správné stravovací návyky</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Zásady zdravé výživy</h3>
      <div class="toggle-container">
        <p>Racionální výživa, nutriční a potravinová pyramida, stravovací režim, pitný režim</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Sportovní výživa a pitný režim u sportovců</h3>
      <div class="toggle-container">
        <p>Tyto základy nám ráda předá sama vrcholová Mistryně světa v trojskoku z Athén roku 2007 Šárka Kašpárková :-)</p>
      </div>
    </div>

    <div class="box-toggle">
      <h3 class="trigger">Základy podnikání a provoz výživové poradny</h3>
      <div class="toggle-container">
        <p>Jak začít, co vše potřebuji vědět k založení a provozu porady, doporučení a zákonná legislativa</p>
      </div>
    </div>
  </section>
</section>
