<% title 'Učební plán' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Učební plán
  </div>

  <section id="content" class="sixteen columns">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Název Předmětu</th>
          <th>Počet hodin teoretické výuky<br> (vyučovací hodina = 45 minut)</th>
          <th>Počet hodin praktické výuky<br> (vyučovací hodina = 60 minut)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Poučení o bezpečnosti a ochraně zdraví při práci</td>
          <td>1</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Technologie výživy a skladování potravin</td>
          <td>8</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Alternativní výživové směry</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Makroživiny a Mikroživiny</td>
          <td>12</td>
          <td>6</td>
        </tr>
        <tr>
          <td>Základy a zásady zdravé výživy</td>
          <td>8</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Antropometrie a tělesná typologie</td>
          <td>6</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Potravinové doplňky a suplementace</td>
          <td>6</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Sestavování jídelníčků a diagnostika</td>
          <td>8</td>
          <td>8</td>
        </tr>
        <tr>
          <td>Detoxikace organismu a nutriční prevence</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Psychologie a pedagogika</td>
          <td>4</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Hygiena výživy potravin</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Acidobazická nerovnováha organismu</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Naturopatie a Holistická výživa</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Somatologie</td>
          <td>8</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Fyziologie</td>
          <td>4</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Základy podnikání a provoz výživové poradny</td>
          <td>2</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
