<% title 'Lektoři' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Lektoři
  </div>

  <section class="sixteen columns">
    <p>Lektoři v našem pedagogickém týmu jsou vynikající a uznávaní odborníci v požadovaném oboru. Díky tomu máte jedinečnou možnost získat veškeré dovednosti a to jak teorii, tak praxi na vysoké úrovni a tímto splňovat kritéria profesinonálního výživového poradce.</p>

    <h3>Garant akreditovaného kurzu</h3>
    <div class="four columns">
      <%= image_tag 'content/tutors/kacerovska.jpg', alt: 'Ing. Helena Kacerovská' %>
    </div>
    <div class="eleven columns">
      <h4>Ing. Helena Kacerovská</h4>
      <ul class="list">
        <li>2x certifikovaný výživový poradce, pedagog na Univerzitě 3.věku v Českých Budějovicích, poradenství a přednášky v oblasti zdravé výživy více jak 20 let se zaměřením na redukční výživu, racionální i léčebnou výživu a komplexní výživovou problematiku.</li>
        <li>Specializace na Výživu těhotných a kojících žen,dětí a seniorů, suplementace a fytoterapie</li>
        <li>rozsáhlá publikační činnost</li>
        <li>z mediální činnosti-pravidelně působí v pořadu Dámská jízda Českého rozhlasu a je aktivní členkou "Společnosti pro výživu"</li>
        <li>vlastní centrum zdraví a výživy v Českých Budějovicích</li>
      </ul>
    </div>

    <div class="border-divider"></div>

    <div class="four columns">
    </div>
    <div class="eleven columns">
      <h4>MUDr. Svatava Zatloukalová</h4>
      <ul class="list">
        <li>plicní lékařka, soukromá ordinace se specializací na zdraví životní styl a léčebná výživa</li>
      </ul>
    </div>

    <div class="border-divider"></div>

    <div class="four columns">
      <%= image_tag 'content/tutors/gajic.jpg', alt: 'Mgr. Alishia Gajić' %>
    </div>
    <div class="eleven columns">
      <h4>Mgr. Alishia Gajić</h4>
      <ul class="list">
        <li>přednášející a pedagog v oblasti Naturopatie, Tradiční čínská medicína, Darkfield specialista, Iridolog, specializace detoxikace a odkyselení organismu, sportovní kouč, zumba a piloxing instruktorka</li>
      </ul>
    </div>

    <div class="border-divider"></div>

    <h4>Mgr. Kristýna Gregrová</h4>
    <ul class="list">
      <li>odborný asistent na katedře tělesné výchovy a sportu PF JČU v Českých Budějovicích</li>
      <li>specializace na regeneraci organismu, antropometrie a tělesná typologie</li>
      <li>pedagogická, přednášející i publikační činnost</li>
    </ul>

    <div class="border-divider"></div>

    <div class="four columns">
      <%= image_tag 'content/tutors/kasparkova.jpg', alt: 'Mgr. Šárka Kašpárková' %>
    </div>
    <div class="eleven columns">
      <h4>Mgr. Šárka Kašpárková</h4>
      <ul class="list">
        <li>MS v trojskoku</li>
        <li>přednášková činnost</li>
      </ul>
    </div>
  </section>
</section>
