<% title 'Metody výuky' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Metody výuky
  </div>

  <section id="content" class="sixteen columns">
    <h2><%= yield(:title) %></h2>

    <ul class="list">
      <li>výuka formou přednášek a seminářů</li>
      <li>praxe v terénu i přímo s klienty</li>
      <li>instruktáž</li>
      <li>diagnostika</li>
      <li>písemné i ústní shrnutí v závěru hodin pro kontrolní zpětnou vazbu</li>
    </ul>
  </section>
</section>
