<% title 'Profil absolventa' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Profil absolventa
  </div>

  <section id="content" class="sixteen columns">
    <h2><%= yield(:title) %></h2>

    <h5>Absolvent kurzu</h5>
    <ul class="list">
      <li>zná anatomii a biochemii, fyziologii trávení v rozsahu potřeb rekvalifikačního kurzu Poradce pro výživu</li>
      <li>zná technologii potravin a toxikologie</li>
      <li>zná potravinářství, umí rozlišovat kladné  a pozitivní rozdíly na organismus</li>
      <li>umí sestavovat jídelníčky na míru</li>
      <li>umí diagnostikovat klienta individuálně</li>
      <li>umí úspěšně komunikovat s klienty, servis a výborná zpětná vazba</li>
      <li>zná psychologii výživy</li>
      <li>zná zásadotvorné regenerace pro organismus</li>
      <li>zná alternativní výživové směry a umí je uplatnit v praxi</li>
      <li>zná základy podnikání při pomoci o žádosti o Živnostenský list, otevření své poradny</li>
    </ul>
  </section>
</section>
