<% title 'Smluvní podmínky' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Smluvní podmínky
  </div>

  <section class="sixteen columns">
    <h2>Smluvní podmínky rekvalifikačního kurzu</h2>

    <p>Smluvní podmínky pořádání rekvalifikačního kurzu <strong>Poradce pro výživu</strong>. Smlouva mezi organizátorem kurzu a účastníkem se považuje za uzavřenou okamžikem poslání závazné přihlášky, případně uhrazením zálohy či plné výše kurzovného.</p>

    <h3>Pořádání kurzu Poradce pro výživu</h3>

    <ol class="list">
      <li>Pořadatelem rekvalifikačního kurzi je vzdělávací společnost (Life Akademie / DECARO RMG)</li>
      <li>Rekvalifikační kurzy se pořádají v termínech uvedených v programu platném pro dané období.</li>
      <li>Termíny a ceny kurzů včetně všech změn uveřejňuje organizátor kurzu na svých internetových stránkách www.lifeakademie.cz. Organizátor kurzů může termíny kurzů v průběhu roku upravovat podle podmínek a svých provozních možností. Termín může změnit nejpozději do 14 dnů před dnem zahájené kurzu.</li>
      <li>Potvrzení o zaplacení (daňový doklad) je vydáno nejpozději v den zahájení kurzu. Fakturu zasíláme přihlášeným fyzickým či právnickým osobám na vyžádání.</li>
      <li>Po zaplacení minimální nevratné zálohy na kurzovné ve výši 7 000 Kč, kterou je nutné uhradit ihned po odeslání přihlášky na kurz, obdrží účastník zprávu o jeho závazném zařazení do kurzu a organizační pokyny. Kurzovné je možné ihned po odeslání přihlášky zaplatit i v plné výši.</li>
      <li>Při plnění kapacity kurzu jsou přihlášení do kurzu zařazování dle pořadí v evidenci přihlášených. Později přihlášeným je po naplnění kurzu nabídnut náhradní termín.</li>
      <li>Pokud přihlášený neuhradí cenu do 3 pracovních dnů, ztratí pořaadí a v případě naplnění kurzu nemusí bát do kurzu přijat.</li>
      <li>Účastník, který neuhradí cenu kurzu před zahájením kurzu, nebude do kurzu zařazen. To neplatí, hradí-li kurz Úřad práce.</li>
      <li>Organizátor kurzu má právo kurz zrušit. Pokud z jakýchkoli důvodů dojde ke zrušení kurzu, vrátí organizátor přijaté zálohy nejpozději do 14 dnů od vyhlášení zrušení kurzu.</li>
    </ol>

    <h3>Cena kurzu Poradce pro výživu</h3>

    <ol class="list">
      <li>Cena kurzu je vyhlášena společně s termínem konání kurzu na stránkách www.lifeakademie.cz.</li>
      <li>Účastník je povinen dbát pokynů k platbě dle instrukcí organizátora kurzu.</li>
    </ol>

    <h3>Storno poplatky</h3>

    <ol class="list">
      <li>V případě, že přihlášený účastník stornuje účast po té, co uhradil zálohu nebo plnou cenu kurzu a odstoupí od smlouvy, jsou účtovány tyto storno poplatky:</li>
      <li class="no-list">
        <ul>
          <li>30 dnů před datem konání kurzu <b>2 000 Kč</b></li>
          <li>8 - 30 dnů před datem konáním kurzu <b>5 000 Kč</b></li>
          <li>7 - 0 dnů před datem konání kurzu <b>7 000 Kč</b></li>
        </ul>
      </li>
      <li class="no-list">Storno kurzu je možné jen písemnou formou (nikoli elektronicky či telefonicky), rozhodující je datum razítka pošty.</li>
      <li value="2">Přestup mezi kurzy není možný.</li>
      <li>V případě, že přihlášený účastník, který uhradil zálohu ve výši 7 000 Kč nebo plnou ve výši kurzovného a přihlásil se tak do určitého běhu kurzu, žádá o přesun do následujícího běhu kurzu, je účtován manipulační poplatek ve výši 1 500 Kč.</li>
      <li>Pokud přihlášený nastoupí do kurzu a nemůže z vážných zdravotních důvodů v kurzu pokračovat, činí storno poplatek 100% ceny kurzu. Organizátor kurzu si vyhrazuje nabídnout přihlášenému v těchto případech kurz v novém termínu dle jeho dispozic a možností, který začne nejpozději do 6 měsíců od data zahájení kurzu, kam byl účastník přihlášen. Organizátor kurzu v takovém případě neručí za to, že bdue kurz studován za stejných podmínek (liší se druhem akreditace). Rodinné důvody, úmrtí v rodině, pracovní vytížení, rodičovská dovolená apod. nejsou považovány za závažnou překážku bránící studiu v kurzu.</li>
      <li>V případě nástavbocých kurzů je za závaznou přihlášku považováno odeslání emailu s požadovanými údaji uveřejněnými na webových stránkách pořadatele. Storno poplatek nástavbovýcg kurzů činí:</li>
      <li class="no-list">
        <ul>
          <li>28 dnů před datem konání <b>0 Kč</b></li>
          <li>8 - 28 dnů před datem konání kurzu <b>2 000 Kč</b></li>
          <li>7 - 0 dnů před datem konání kurzu <b>plná výše kurzovného</b></li>
        </ul>
      </li>
      <li class="no-list">Storno kurzu je možné jen písemnou formou (nikoli eketronicky či telefonicky) rozhodující je datum razítka pošty.</li>
    </ol>

    <h3>Rekvalifikační kurz (vzdělávací program Poradenství pro výživu, pracovní činnost Poradce pro výživu) zahrnuje v základní ceně</h3>

    <ol class="list">
      <li>Presenční výuku dle schválených osnov s uvedenou hodinovou dotací (8 - 10 školních hodin denně) a závěrečné zkoušky.</li>
      <li>Obhajobu závěrečné práce - hodnocení, konzultace a jednu opravu závěrečné práce každého účastníka kurzu (v celkovém rozsahu nejvýše 2 hodiny).</li>
      <li>Provedení závěrečných zkoušek formou testů a jejich vyhodnocení.</li>
      <li>Provedení závěrečných zkoušek formou ústní zkoušky v předem stanoveném termínu</li>
      <li>Po úspěšné obhajobě závěrečné práce a po úspěšném vykonání testů vydání rekvalifikačního osvědčení.</li>
    </ol>

    <h3>Náhradní termíny a opravné zkoušky</h3>

    <ol class="list">
      <li>Náhradní termíny písemné ani opravné ústní zkoušky nejsou součástí základní ceny.</li>
      <li>Náhradní termíny a místo konání zkoušek, opravných zkoušek a náhradní termíny předložení závěrečné práce po dvou opravách prvního podání práce, která ani potom nebyla uznána jako dostatečná, stanovuje držitel akreditace nejpozději do 6 měsíců od řádného termínu konání závěrečných zkoušek příslušného kurzu. Držitel akreditace si vyhrazuje právo o místě konání náhradního termínu závěrečných zkoušek rozhodnout v průběhu kurzu.</li>
      <li>Výši úhrad všech náhradníc a opravných termínů zkoušek a výši úhrad náhradních termínů předložení závěrečné práce stanoví držitel akreditace v den zahájení rekvalifikačního kurzu.</li>
    </ol>

  </section>
</section>
