<% title 'Smluvní podmínky' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/kurzy">Kurzy</a>
    Smluvní podmínky
  </div>

  <section class="sixteen columns">
    <h2>Smluvní podmínky rekvalifikačního kurzu</h2>

    <p>Smluvní podmínky pořádání rekvalifikačního kurzu <strong>Poradce pro výživu</strong>. Smlouva mezi organizátorem kurzu a frekventantem se považuje za uzavřenou okamžikem poslání závazné přihlášky, případně uhrazením zálohy či plné výše kurzovného.</p>

    <h3>Pořádání kurzu Poradce pro výživu</h3>

    <ol class="list">
      <li>Pořadatelem rekvalifikačního kurzu je vzdělávací společnost (Life Akademie / DECARO RMG)</li>
      <li>Rekvalifikační kurzy se pořádají v termínech uvedených v programu platném pro dané období.</li>
      <li>Termíny a ceny kurzů včetně všech změn uveřejňuje organizátor kurzu na svých internetových stránkách <a href="http://www.lifeakademie.cz">www.lifeakademie.cz</a>. Organizátor kurzů může termíny kurzů v průběhu roku upravovat podle podmínek a svých provozních možností. Termín může změnit nejpozději do 30 dnů před dnem zahájené kurzu.</li>
      <li>Potvrzení o zaplacení (daňový doklad) je vydáno nejpozději v den zahájení kurzu. Fakturu zasíláme přihlášeným fyzickým či právnickým osobám na vyžádání.</li>
      <li>Při plnění kapacity kurzu jsou přihlášení do kurzu zařazování dle pořadí v evidenci přihlášených. Později přihlášeným je po naplnění kurzu nabídnut náhradní termín.</li>
      <li>Pokud přihlášený neuhradí cenu do 3 pracovních dnů, ztratí pořadí a v případě naplnění kurzu nemusí být do kurzu přijat.</li>
      <li>Účastník, který neuhradí cenu kurzu před zahájením kurzu, nebude do kurzu zařazen. To neplatí, hradí-li kurz Úřad práce.</li>
    </ol>

    <h3>Cena kurzu Poradce pro výživu</h3>

    <ol class="list">
      <li>Cena kurzu je vyhlášena společně s termínem konání kurzu na stránkách <a href="http://www.lifeakademie.cz">www.lifeakademie.cz</a>.</li>
      <li>Účastník je povinen dbát pokynů k platbě dle instrukcí organizátora kurzu.</li>
    </ol>

    <h3 id="storno">Storno poplatky</h3>

    <ol class="list">
      <li>V případě, že frekventant stornuje svou žádost o účast v kurzu po uhrazení plné výše ceny kurzu a odstoupí tak od smlouvy, jsou mu účtovány tyto storno poplatky:</li>
      <li class="no-list">
        <ul>
          <li>30 dnů před datem začátku kurzu <b>3 000 Kč</b></li>
          <li>7 - 29 dnů před datem začátku kurzu <b>6 000 Kč</b></li>
          <li>6 - 0 dnů před datem začátku kurzu <b>9 900 Kč</b></li>
        </ul>
      </li>
      <li value="2">V případě, že frekventant, který uhradil kurzovné v plné výši a přihlásil se tak do kurzu, žádá o přesun do následujícího kurzu s jasným odůvodněním, bude mu účtován manipulační poplatek ve výši 1 000 Kč.</li>
      <li>Organizátor kurzu si vyhrazuje nabídnout přihlášenému akreditovaný kurz v novém termínu dle jeho dispozic a možností, který začne nejpozději do 6 měsíců od data zahájení kurzu, kam byl účastník přihlášen. Rodinné důvody, úmrtí v rodině, pracovní vytížení, rodičovská dovolená apod. nejsou považovány za závažnou překážku bránící studiu v kurzu.</li>
      <li class="no-list">Storno kurzu je možné provést pouze elektronicky na <a href="http://www.lifeakademie.cz">www.lifeakademie.cz</a> v nastavení uživatelského účtu (po přihlášení uživatele) nebo písemnou formou zasláním na adresu DECARO RMG s.r.o., Husovo náměstí 1702, 253 01 Hostivice.</li>
    </ol>

    <h3>Rekvalifikační kurz (vzdělávací program Poradenství pro výživu, pracovní činnost Poradce pro výživu) zahrnuje v základní ceně</h3>

    <ol class="list">
      <li>Presenční výuku dle schválených osnov s uvedenou hodinovou dotací (8 - 10 školních hodin denně) a závěrečné zkoušky.</li>
      <li>Obhajobu závěrečné práce - hodnocení, konzultace a jednu opravu závěrečné práce každého účastníka kurzu (v celkovém rozsahu nejvýše 2 hodiny).</li>
      <li>Provedení závěrečných zkoušek formou testů a jejich vyhodnocení.</li>
      <li>Provedení závěrečných zkoušek formou ústní zkoušky v předem stanoveném termínu.</li>
      <li>Po úspěšné obhajobě závěrečné práce a po úspěšném vykonání testů vydání rekvalifikačního osvědčení.</li>
      <li>Kompletní skripta v tištěné, barevné formě každy frekventant obdrží zdarma.</li>
    </ol>

    <h3>Náhradní termíny a opravné zkoušky</h3>

    <ol class="list">
      <li>Pokud frekventant nezvládne zkoušky v daném termínu, má možnost, dle domluvy opakovat bezplatně. Pokud ani tato varianta nebude úspěšná, další termíny tedy druhé a další termíny jsou zpoplatněné a to jednorázově 1 000 Kč</li>
      <li>Náhradní termíny a místo konání opravných zkoušek stanoví držitel Akreditace 14 dní předem písemnou formou.</li>
    </ol>

  </section>
</section>
