<div class="container">
  <div class="sixteen columns">
    <nav>
      <ul>
        <li><%= link_to 'Kurzy', admin_courses_path %></li>
        <li><%= link_to 'Přidat kurz', admin_new_course_path %></li>
        <li><%= link_to 'Objednávky', admin_orders_path %></li>
        <li><%= link_to 'Uživatelé', admin_users_path %></li>
      </ul>
    </nav>
  </div>
</div>
