<!DOCTYPE html>
<html>
  <head>
  <title>Platba objednávky č. <%= @order.variable_symbol %> přijata</title>
  </head>
  <body>

    <p style="font-family: Arial, serif; font-size: 14px; display: block; width: 100%; margin-bottom: 20px;"><%= image_tag attachments['logo.png'].url, :alt => "LifeAkademie" %></p>

    <p style="font-family: Arial, serif; font-size: 14px; display: block; width: 100%;">
      Dobrý den, <br>
      Vaše objednávka kurzu č. <b><%= @order.variable_symbol %></b> na webu <a href="http://www.lifeakademie.cz">lifeakademie.cz</a> byla úspěšně uhrazena.
    </p>

    <p style="font-family: Arial, serif; font-size: 14px; display: block; width: 100%;">
      Uhrazený kurz: <b><%= @order.course.name_with_date %></b>
    </p>

    <p style="font-family: Arial, serif; font-size: 14px; display: block; width: 100%;">
      Děkujeme!
    </p>

    <p style="font-family: Arial, serif; font-size: 10px; display: block; width: 100%; border-top: 1px solid #ececec; margin: 2em 0; padding: .75em 0;">
      <strong>DECARO RMG s.r.o.</strong><br>
      Husovo náměstí 1702<br>
      253 01 Hostivice<br>
      IČO: 61943762<br>
      Č. ú.: 4190589001/5500 (Raiffeisenbank)<br>
      E-mail: <a href="mailto:info@lifeakademie.cz">info@lifeakademie.cz</a>
    </p>

  </body>
</html>


