<!DOCTYPE html>
<html>
  <head>
  <title>Zpráva z kontaktního formuláře Lifeakademie.cz</title>
  </head>
  <body>
    <p>
      Od: <b><%= @contact_message.name %> (<%= @contact_message.email %>)</b>
    </p>
    <p><%= @contact_message.body %></p>
  </body>
</html>
