<% title 'Termíny' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    Termíny
  </div>

  <section class="sixteen columns">

    <p><b>9 900 Kč</b></p>

    <p>Exkluzivní cena plná benefitů obsahuje:</p>

    <div class="row">
      <div class="ten columns">
        <ul class="list">
          <li>Poukaz na potravinové přírodní doplňky <a href="http://starlife.cz">STARLIFE</a> v hodnotě 3 000 Kč dle vlastního výběru</li>
          <li>Pitný režim pro všechny frekventanty zdarma od společnosti <a href="http://nutrend.cz">NUTREND</a></li>
          <li>Jednorázová 30% sleva na kompletní sortiment výrobků společnosti <a href="http://nutrend.cz">NUTREND</a></li>
        </ul>
      </div>
      <div class="five columns pull-right">
        <p><%= image_tag 'content/starlife_poukaz_3000.jpg' %></p>
      </div>
    </div>

    <div class="row">
      <div class="sixteen columns courses-info">
        <p>V případě nízkého počtu přihlášených zájemců (méně než 15) si provozovatel kurzů vyhrazuje právo příslušný kurz zrušit. Zájemce, kteří již uhradili kurzovné, převede na základě jejich výslovného písemného souhlasu do dalšího, jimi vybraného kurzu. Zájemcům, kteří neprojeví zájem o účast v jiném termínu konání kurzu, bude vráceno kurzovné v plné výši.</p>
      </div>
    </div>

    <div class="row">
      <div class="sixteen columns courses-info">
        <div class="info">
          <h4>Upozornění</h4>
          <p>Bohužel, kurz Praha od 8. 2. 2014 se ruší z důvodu malého počtu přihlášených. Dosud přihlášeným zájemcům o kurz bude kurzovné vráceno.</p>
        </div>
      </div>
    </div>


    <table class="custom-table">
      <thead>
        <tr>
          <th>Název</th>
          <th>Město</th>
          <th>Začátek</th>
          <th>Cena</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @courses %>
        <% if @courses.empty? %>
          <tr>
            <td colspan="5" class="c">Nejsou žádné dostupné termíny.</td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </section>
</section>
