<% title 'Přihlášení do kurzu' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/terminy">Termíny</a>
    Přihlášení do kurzu
  </div>

  <section class="main container">
    <h3><%= "Přihlášení do kurzu: #{@course.name_with_date}" %></h3>
  </section>
</section>
