<% title 'Přihlášení do kurzu' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/terminy">Termíny</a>
    Přihlášení do kurzu
  </div>

  <section class="main container">

    <%= render 'course' %>

    <div class="border-divider"></div>
    <div class="row">
      <div class="sixteen columns">
        <p class="c"><%= link_to 'Odeslat závaznou objednávku', course_reservation_confirmed_path(@course), class: 'button small lightgreen', confirm: 'Opravdu chcete odeslat závaznou objednávku?' %></p>
      </div>
    </div>
  </section>
</section>
