<% title 'Informace ke kurzu' %>
<section class="main container">
  <div class="breadcrumbs">
    <a href="/">LifeAkademie.cz</a>
    <a href="/terminy">Termíny</a>
    Informace ke kurzu
  </div>

  <section class="main container">

    <%= render 'course' %>

  </section>
</section>

